<section class="default-section align-items-center justify-content-center">
  <div class="introduction-text">
    <h1 class="title dyn-font">Teste Online: <br> <span class="text-degrade">Acessível ou não?</span></h1>
    <p class="text dyn-font">
      Seu site, plataforma e/ou ferramenta web está dentro dos padrões e normas da acessibilidade na Web da W3C?
      Preencha as informações corretamente do <strong>formulário abaixo</strong>>, realizaremos a avaliação e encaminharemos o resultado
      para o seu e-mail!
    </p>
  </div>
  <div>
    <img src="../../img/teste.svg" alt="" />
  </div>
</section>


<section class="container">
  <div class="content-form">
    <h2>Formulário para avaliação de Acessibilidade WEB</h2>

    <form action="" method="post">
      <div class="contato-info">
        <input type="text" name="name" class="input" placeholder="Primeiro nome*" required />
        <input type="text" name="text" class="input" placeholder="sobrenome*" required />
      </div>

      <div class="contato-info">
        <input type="email" name="email" class="input" placeholder="E-mail" required />
        <input type="tel" name="tel" class="input" placeholder="Celular" required />
      </div>

      <div class="contato-info">
        <input type="text" name="link" class="input" placeholder="Link do site*" required />
        <label for="arquivo" class="upload"><img src="../../img/upload.svg" alt=""> Upload Arquivo</label>
        <input type="file" name="arquivo" id="arquivo">
      </div>

      <div class="contato-info">
        <textarea class="input" placeholder="Alguma observacão?" name="message" rows="5" cols="50" required></textarea>
      </div>
      <div class="contato-info">
        <input class="btn bg-blue rounded-pill my-2 px-4" type="submit" value="Enviar">
      </div>

    </form>
  </div>

</section>

<link rel="stylesheet" type="text/css" href="./views/teste/teste.css" />