.container {
  width: 80%;
  margin-bottom: 50px;
}

.introduction-text {
  width: 50%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-form {
  margin: auto;
  background-image: linear-gradient(#ececec 70%, #dbdbdb);
  margin-top: 50px;
  clear: right;
}

.content-form h2 {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 35px 0 0;
}

.contato-info {
  max-width: 80%;
  margin: auto;
  position: relative;
}

.input {
  width: 40%;
  padding: 10px;
  color: #000;
  outline: none;
  border: none;
  box-shadow: 0px 3px 0px #888888;
  margin: 5px 25px 0 0;
  background-color: #f3f3f3;
  margin-top: 20px;
}

input[type='file'] {
  display: none;
}

.upload {
  padding: 10px 10px;
  width: 40%;
  background-color: rgb(195, 195, 195);
  cursor: pointer;
}

.upload > img {
  height: 16px;
  width: 16px;
}

.contato-info textarea {
  width: 100%;
  border: none;
  box-shadow: 0px 3px 0px #888888;
  margin-top: 20px;
}

.contato-info .btn {
  cursor: pointer;
  position: relative;
  left: 80%;
}

  /* Abaixo de 1000 */
  @media screen and (max-width: 1000px) {
    .introduction-text {
      width: 100%;
    }
  }