<section class="default-section align-items-center justify-content-center">
    <div class="introduction-text">
        <h1 class="title dyn-font">OBTENHA SEU CERTIFICADO <br> <span class="text-degrade">ACESSIBILIDADE WEB</span>
        </h1>
        <p class="text dyn-font">
            Obtenha um certificado que comprove que o seu site está dentro dos
            parâmetros de acessibilidade e inclusão
            para todo e qualquer público!
        </p>
    </div>
    <div>
        <img class="img-fluid" src="../../img/certificado.svg" alt="" />
    </div>
</section>

<div class="bilhete">
    <img src="../../img/bilhete.svg" alt="">
</div>

<section
    class="content-certificado mx-auto d-flex flex-lg-row  flex-xl-row flex-md-column flex-sm-column  flex-xs-column  flex-column justify-content-between  align-items-center align-items-xl-start align-items-xxl-start">
    <div class="top mb-5 mb-xl-0 mb-xxl-0 p-5 ">
        <h2 class="text-center title mb-5">TOP 10 WEB’s</h2>
        <p>
            Principais ferramentas web e sites que passaram em nosso teste!
        </p>
        <ol>
            <li>http://tech-U.com</li>

            <li>Software Hexz </li>

            <li>http://laland.com.br</li>

            <li>http://foreign.com</li>

            <li>Software Lokus</li>

            <li>http://localiza-ai.com.br</li>

            <li>http://eatfood.com</li>

            <li>http://eatfood.com</li>

            <li>http://aspas.com.br</li>

            <li>Software Less</li>
        </ol>
        
    </div>

    <div class="describ p-5">
        <div>
            <h3 class="mb-5 title">Como posso obter meu certificado?</h3>
            <p>Preencha o formulário que está disponibilizado no menu “Teste Online” (ou clique aqui para acessá-lo) e
                aguarde receber o resultado da avaliação em seu e-mail.</p>
            <p>Se o seu teste passar em todos os requisitos, em baixo do resultado da avaliação terá um número de
                credencial, copie esse número e o coloque no formulário abaixo, logo em seguida, seu certificado e selo
                serão gerados!</p>

        </div>

        <div class="credencial mt-5">
            <label class="mb-5">Insira o número da credencial aqui:</label>

            <input placeholder="Ex: NXE38EKDA">
            <button type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="mt-5" id="myInput">Gerar
                certificado</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex  flex-row-reverse m-3">
                        <a type="button" data-bs-dismiss="modal" aria-label="Close">
                            <img src="/img/closemodel.svg" alt="" srcset="">
                        </a>
                    </div>
                    <h5 class="modal-title text-center mb-5" id="exampleModalLongTitle">Certificado gerado com sucesso!</h5>
                    <div class="modal-body d-flex  flex-xl-row flex-xxl-row flex-md-column flex-sm-column flex-column justify-content-around mb-5">
                        <div class="text-center d-flex flex-column align-items-center">
                            <img class="mb-5 w-100" src="/img/certiModel.svg" alt="" srcset="">
                            <button  type="button" class="btn btn-secondary" data-dismiss="modal">Baixar certificado</button>
                        </div>
                        <div class="text-center d-flex flex-column align-items-center justify-content-center">
                            <img class="mb-5" src="/img/medalhaModel.svg" alt="">
                            <button type="button" class="btn btn-primary mt-5">Baixar selo</button> 
                        </div>


                    </div>
                    <div class="modal-footer mb-5">
                        <p class="text-center w-100">Compartilhe nas redes sociais!</p>
                        <img class="m-auto" src="/img/network.svg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>


</section>


<link rel="stylesheet" type="text/css" href="./views/certificado/certificado.css" />