<link rel="stylesheet" type="text/css" href="./views/certificado/certificado.css" />


<section
    class="obtenhaCertificado mb-2 d-flex flex-lg-row  flex-xl-row flex-md-column flex-sm-column  flex-xs-column flex-column mx-auto">
    <div class=" introduction-text">
        <h1 class="title  dyn-font">OBTENHA SEU CERTIFICADO<br>
            <span class="text-degrade">ACESSIBILIDADE WEB</span>
        </h1>
        <p class="text mt-3 obtenha dyn-font">Obtenha um certificado que comprove que o seu site está dentro dos
            parâmetros de acessibilidade e inclusão
            para todo e qualquer público!</p>
    </div>
    <div class="img-certificado">
        <img class="img-fluid" src="../../img/certificado.svg">
    </div>
</section>

<div class="bilhete">
    <img src="../../img/bilhete.svg" alt="">
</div>
<section
    class="content-certificado mx-auto d-flex flex-lg-row  flex-xl-row flex-md-column flex-sm-column  flex-xs-column  flex-column justify-content-between ">
    <div class="top p-5">
        <h2 class="text-center title mb-5">TOP 10 WEB’s</h2>
        <p>
            Principais ferramentas web e sites que passaram em nosso teste!
        </p>
        <ol>
            <li>http://tech-U.com</li>

            <li>Software Hexz </li>

            <li>http://laland.com.br</li>

            <li>http://foreign.com</li>

            <li>Software Lokus</li>

            <li>http://localiza-ai.com.br</li>

            <li>http://eatfood.com</li>

            <li>http://eatfood.com</li>

            <li>http://aspas.com.br</li>

            <li>Software Less</li>
        </ol>
        <img class="boneco  d-none d-xl-block  d-xl-block"  src="/img/boneco.svg" alt="" srcset="">
    </div>

    <div class="describ p-5">
        <div>
            <h3 class="mb-5 title">Como posso obter meu certificado?</h3>
            <p>Preencha o formulário que está disponibilizado no menu “Teste Online” (ou clique aqui para acessá-lo) e
                aguarde receber o resultado da avaliação em seu e-mail.</p>
            <p>Se o seu teste passar em todos os requisitos, em baixo do resultado da avaliação terá um número de
                credencial, copie esse número e o coloque no formulário abaixo, logo em seguida, seu certificado e selo
                serão gerados!</p>

        </div>

        <div class="credencial mt-5">
            <label class="mb-5">Insira o número da credencial aqui:</label>

            <input placeholder="Ex: NXE38EKDA">
            <button class="mt-5">Gerar certificado</button>
        </div>
    </div>

</section>