<section class="default-section align-items-center justify-content-center">
    <div class="introduction-text">
        <h1 class="title dyn-font">FÓRUM <br> <span class="text-degrade">COMUNIDADE WEB</span></h1>
        <p class="text dyn-font">
            Converse com outros desenvolvedores, compartilhe ideias, códigos e/ou tire suas dúvidas através do nosso
            fórum!
        </p>
    </div>
    <div>
        <img class="img-fluid d-none d-md-block" src="../../img/equipe.svg" alt="" />
    </div>
</section>

<section class="exibiOrdem mx-auto">
    <div class=" d-flex my-5 px-3 py-3  float-right">
        <img class="me-2" src="../../img/Back.png" alt="" srcset="">
        <p>Mais recente para mais antiga </p>
    </div>
</section>

<section
    class="content-certificado mb-5 mx-auto d-flex flex-lg-row  flex-xl-row flex-md-column flex-sm-column  flex-xs-column  flex-column justify-content-between ">
    <div class="perfil p-5">
        <div class="phone h-auto text-center">
            <img class="mb-3" src="../../img/perfil.svg" alt="perfil" srcset="">
            <h2 class="title mb-5">Fazer login</h2>
        </div>
        <p>
            <img src="../../img/Chatbubbleoutline.png" alt="" srcset=""> Ver todas as discussões
        </p>

        <p>
            <img src="../../img/Staroutline.png" alt="" srcset=""> Favoritos
        </p>

        <ul class="filtrar" type="none">

            <label class="mb-3">Filtrar:</label>
            <li>
                <input type="checkbox" id="scales" name="scales" checked>
                <label for="scales">Últimas 24 horas</label>
            </li>

            <li>
                <input type="checkbox" id="horns" name="horns">
                <label for="horns">Somente usuários verificados</label>
            </li>

            <li>
                <input type="checkbox" id="horns" name="horns">
                <label for="horns">Códigos prontos</label>
            </li>

            <li>
                <input type="checkbox" id="horns" name="horns">
                <label for="horns">Normas e padrões</label>
            </li>

            <li>
                <input type="checkbox" id="horns" name="horns">
                <label for="horns">Criações de usuários</label>
            </li>

        </ul>
    </div>

    <div class="describ p-5">
        <div class="comment mb-5 border_bottom">
            <div class="d-flex flex-row mb-4">
                <img class="me-4" src="../../img/perfil.svg" alt="" srcset="">
                <span>
                    <h3>Leonardo S.</h3>
                    <p>1h atrás</p>
                </span>
            </div>
            <h4 class="mb-4">Personalizando o VLibras</h4>
            <p>Opa, beleza pessoal? Vim trazer uma opção pra vocês devs poderem personalizar o VLibras da forma que
                quiserem, é bem fácil, então vamos lá... Ver mais </p>
        </div>
        <div class="comment mb-5 border_bottom">
            <div class="d-flex flex-row mb-4">
                <img class="me-4" src="../../img/perfil.svg" alt="" srcset="">
                <span>
                    <h3>Leonardo S.</h3>
                    <p>1h atrás</p>
                </span>
            </div>
            <h4 class="mb-4">Personalizando o VLibras</h4>
            <p>Opa, beleza pessoal? Vim trazer uma opção pra vocês devs poderem personalizar o VLibras da forma que
                quiserem, é bem fácil, então vamos lá... Ver mais </p>
        </div>
        <div class="comment mb-5">
            <div class="d-flex flex-row mb-4">
                <img class="me-4" src="../../img/perfil.svg" alt="" srcset="">
                <span>
                    <h3>Leonardo S.</h3>
                    <p>1h atrás</p>
                </span>
            </div>
            <h4 class="mb-4">Personalizando o VLibras</h4>
            <p>Opa, beleza pessoal? Vim trazer uma opção pra vocês devs poderem personalizar o VLibras da forma que
                quiserem, é bem fácil, então vamos lá... Ver mais </p>
        </div>

        <div class="text-center">
            <button class="mt-5">Carregar mais </button>
        </div>
    </div>

</section>

<link rel="stylesheet" type="text/css" href="./views/forum/forum.css" />