<section class="default-section align-items-center">
  <div class="introduction-text">
    <h1 class="title dyn-font">A ACESSIBILIDADE NA <span class="text-degrade">WEB</span> É UM DIREITO PARA TODOS</h1>
    <p class="text dyn-font">É essencial que desenvolvedores e organizações incluam a acessibilidade em seus sites e ferramentas
      na web.
      Aprenda aqui como tornar seu código mais acessível além de testar se ele está dentro dos padrões da W3C.</p>
  </div>
  <div>
    <img class="img-fluid" src="./img/introduction.png" alt="Dois homens conversando em libras">
  </div>
</section>

<section class="default-section align-items-center justify-content-center flex-column">
    <h1 class="title text-degrade title-platform dyn-font">A plataforma feita para desenvolvedores!</h1>
    <p class="text dyn-font">Aqui você tem informações sobre acessibilidade web, códigos prontos, testes online da sua plataforma, fórum para conversar com outros desenvolvedores  e tirar dúvidas, e, por fim, possibilidade de obter um certificado <span class="fw-bold">Accessibility.</span></p>

</section>

<style>
  .introduction-text {
    width: 50%;
  }

  .title-platform {
    font-size: 2rem;
  }	

  /* Abaixo de 1000 */
  @media screen and (max-width: 1000px) {
    .introduction-text {
      width: 100%;
    }
  }
</style>